<ng-include src="'/../partials/header.html'">
</ng-include>
<br>
<br>
<div class="topaboutme">

    <div class="aboutmepicbox">
        <img class="aboutmepic" src="../pictures/aboutmepic.png">
        </img>
    </div>
    <div class="aboutmetextbox">
        <p class="aboutmetext">
          I was born and raised in Fort Collins, CO. I lived their up until college when I moved to Bellingham Washington. It was in Bellingham that I learned about my love for athletics, outdoors, and healthy eating. After leaving Bellingham I travelled around Greece working on organic farms before returning Fort Collins. I finished my bachelors degree at CSU and ended with a B.S. in Soil Science with a concentration in math. Over the years I have balanced my life between outdoors (like hiking, backpacking, biking cross country), working and time with my wonderful family which consists of my 6 year old Son and my partner. Finally, I love to be involved in the community and I am regularly humbled by the amazing people around me.
        </p>
    </div>
</div>

<ng-include src="'/../partials/footer.html'"></ng-include>
