<ng-include src="'/../partials/header.html'"></ng-include>

<div class="homeintrodiv">
    <img class="compostpic" src="./../pictures/redwoods1.png">
    <h1 class="wordsonpic"> Amalgamate is a way to automate your home compost</h1>
    <div class="inpic">
    <h3 class="wordsonpic2">*Find out your soil temperature, humidity, and dew point
    </h3>
    <h3> *Turn and water your compost from your phone or computer or</h3>
    <h3> *Turn and water your compost automatically </h3>
  </div>
    </img>
</div>

<div class="problem">
    <h1 class="presentationpoint"> Why make this project </h1>
</div>


<ng-include src="'/../partials/footer.html'"></ng-include>
