<ng-include src="'/../partials/header.html'">
</ng-include>
<div class="technology">
    <div class="box">
        <h1 class="title"> Technology Used For This Project </h1>
        <ul>
            <li class="item"> Python </li>
            <li class="item"> Flask </li>
            <li class="item"> Angular </li>
            <li class="item"> Psycopg2 </li>
            <li class="item"> Chartjs </li>
        </ul>
    </div>
</div>
<div class="recreating">
  <h1 class="title"> Making Your Own Composter</h1>
  <p class="title"> **If you are thinking of making your own invessel composting system please feel free to follow these steps. I encourage people to reduce waste. **
  </p>
  <h2 class="title"> Supplies </h2>
  <!-- for every list item have a pic then words 
  relay
  soil moisture sensor
  water valve -->

</div>
<ng-include src="'/../partials/footer.html'"></ng-include>
